<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <h3><a href="">User Guide</a></h3>
  <h3><a href="http://www.gutenberg.org/">Project Gutenberg</a></h3>
  <br/>
  <img src="https://library.lapeer.org/children/images/books.jpeg/@@images/image.jpeg"
  width="220" height="140" />
  <p>The search engine application is used to assist 
    students and researchers of all types to perform 
    multiple searches in any collection of books.</p>
    <h2>Please input query below</h2>
    <router-outlet></router-outlet>
  </div>
    <h3>Example - Type a word from the text bellow to see the search result:<h3>
    <p>A Christmas Carol by Charles Dickens</p>
    <p>Stave Two</p>
    <p>The First of the Three Spirits</p>
    <p>When Scrooge awoke, it was so dark, that looking out of bed, he could scarcely distinguish the transparent window from the opaque walls of his chamber. He was endeavouring to pierce the darkness with his ferret eyes, when the chimes of a neighbouring church struck the four quarters. So, he listened for the hour.
     To his great astonishment the heavy bell went on from six to seven, and from seven to eight, and regularly up to twelve; then stopped. Twelve! It was past two when he went to bed. The clock was wrong. An icicle must have got into the works. Twelve!
     He touched the spring of his repeater, to correct this most preposterous clock. Its rapid little pulse beat twelve: and stopped.
     “Why, it isn’t possible,” said Scrooge, “that I can have slept through a whole day and far into another night. It isn’t possible that anything has happened to the sun, and this is twelve at noon!”
     The idea being an alarming one, he scrambled out of bed, and groped his way to the window. He was obliged to rub the frost off with the sleeve of his dressing-gown before he could see anything; and could see very little then. All he could make out was, that it was still very foggy and extremely cold, and that there was no noise of people running to and fro, and making a great stir.
     </p>
     
     
     