<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <br/>
  <img src="https://library.lapeer.org/children/images/books.jpeg/@@images/image.jpeg"
  width="220" height="140" />
  <p>The search engine application is used to assist 
    students and researchers of all types to perform 
    multiple searches in any collection of books.</p>
    <h2>Please input query below</h2>
    
    <router-outlet></router-outlet>
    <h3><a href="">User Guide</a></h3>
    <h3><a href="http://www.gutenberg.org/">Project Gutenberg</a></h3>